$colorBasicTtext: #fb6849;
$barBackground:#fff;
$colorLogoTitle:#fb6849;  

ion-navbar{
    .toolbar-background-md{
        background-color: $barBackground;
        
    }
    .toolbar-title-md{
        color: $colorBasicTtext;  
    }
    .bar-button-default-md,
    .bar-button-clear-md-default, 
    .bar-button-md-default{
        color: $colorBasicTtext;  
    }
}

ion-content{
    .button-clear-md{
        color:$colorBasicTtext;
    }
}